// ==============================================
// Font
// ==============================================
$font: 'Noto Sans JP', sans-serif;
$fw-400: 400;
$fw-700: 700;
// ==============================================
// Color
// ==============================================
// ----------------------------------------------
// White
// ----------------------------------------------
$white: #FFFFFF;
// ----------------------------------------------
// Black
// ----------------------------------------------
$black: #000000;
// ----------------------------------------------
// Other
// ----------------------------------------------
$brake-light-trails: #E60032;
$apnea-dive: #1E50B5;
$liberty-green: #11AC51;
// ==============================================
// Breakpoint
// ==============================================
